

PORT = 3000

AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=key

TYPEORM_CONNECTION = yourDatabaseConnection
TYPEORM_HOST = yourHort
TYPEORM_USERNAME = yourUserName
TYPEORM_PASSWORD = yourPassword
TYPEORM_DATABASE = yourDatabase
TYPEORM_PORT = yourPort
TYPEORM_LOGGING = TRUE

JWT_SECRETKEY = yourSecretKey